* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem; }

.container {
  max-width: 120rem;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.navigation {
  background-color: orangered;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navigation__box {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navigation__logo {
    width: 7rem;
    height: 7rem;
    background-color: transparent;
    background-color: #fff; }
    .navigation__logo > img {
      display: block;
      height: 7rem;
      width: 7rem; }
  .navigation__container {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
  .navigation__item {
    width: 15rem;
    padding: 1rem 3rem;
    text-align: center; }
  .navigation__a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    text-decoration: none; }

.about {
  height: 100vh;
  background-color: blue; }

.project {
  height: 100vh;
  background-color: green; }

.realization {
  height: 100vh;
  background-color: orange; }

.contact {
  height: 100vh;
  background-color: goldenrod; }

.footer {
  height: 50vh;
  background-color: yellow; }
